{% extends 'main/base.html' %}

{% block title %}
Ontology
{% endblock %}


{% block content %}
<div class="btn-group">
  <div class="btn-group">
    <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Add Class
    </button>
    <ul class="dropdown-menu">
      <li><input placeholder="Enter name" class="form-control" type="text" id="classInputName" name="classInputName"></li></br>
      <li><input placeholder="Enter super class" class="form-control" type="text" id="classInputOne" name="classInputOne"></li></br>
      <li><input placeholder="Enter Subclasses" class="form-control" type="text" id="classInputTwo" name="classInputTwo"></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Add</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Edit Class
    </button>
    <ul class="dropdown-menu">
      <li><input placeholder="Enter name" class="form-control" type="text" id="classEditName" name="classEditName"></li></br>
      <li><input placeholder="Enter new name" class="form-control" type="text" id="classInputOne" name="classEditOne"></li></br>
      <li><input placeholder="Enter Subclasses" class="form-control" type="text" id="classInputTwo" name="classEditTwo"></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Edit</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Add Instance
    </button>
    <ul class="dropdown-menu">
      <li><input placeholder="Enter name" class="form-control" type="text" id="individualInputName" name="individualInputName"></li></br>
      <li><input placeholder="Enter parent" class="form-control" type="text" id="individualInput" name="individualInput"></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Add</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Edit Instance
    </button>
    <ul class="dropdown-menu">
      <li><input placeholder="Enter name" class="form-control" type="text" id="individualEditName" name="individualEditName"></li></br>
      <li><input placeholder="Enter new name" class="form-control" type="text" id="individualEditNewName" name="individualEditNewName"></li></br>
      <li><input placeholder="Enter parent" class="form-control" type="text" id="individualEditInput" name="individualEditInput"></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Edit</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Add Object Property
    </button>
    <ul class="dropdown-menu">
      <li><input placeholder="Enter name" class="form-control" type="text" id="objectPropertyInputName" name="objectPropertyInputName"></li></br>
      <li><input placeholder="Enter subject" class="form-control" type="text" id="objectPropertyInputOne" name="objectPropertyInputOne"></li></br>
      <li><input placeholder="Enter object" class="form-control" type="text" id="objectPropertyInputTwo" name="objectPropertyInputTwo"></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Add</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Edit Object Property
    </button>
    <ul class="dropdown-menu">
      <li><input placeholder="Enter name" class="form-control" type="text" id="objectPropertyEditName" name="objectPropertyEditName"></li></br>
      <li><input placeholder="Enter new name" class="form-control" type="text" id="objectPropertyEditNewName" name="objectPropertyEditNewName"></li></br>
      <li><input placeholder="Enter subject" class="form-control" type="text" id="objectPropertyEditOne" name="objectPropertyEditOne"></li></br>
      <li><input placeholder="Enter object" class="form-control" type="text" id="objectPropertyEditTwo" name="objectPropertyEditTwo"></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Edit</a></li>
    </ul>
  </div>
</div>

</br></br>

<div class="accordion" id="accordionExample">
  {% for el in context.classes %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading{{ forloop.counter0 }}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter0 }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter0 }}">
        {{ el.0 }}
      </button>
    </h2>
    <div id="collapse{{ forloop.counter0 }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter0 }}" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="table-responsive">
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th scope="col">Super Classes</th>
                <th scope="col">Subclasses</th>
                <th scope="col">Instance</th>
                <th scope="col">Object Properties</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ el.0 }}</td>
                <td>{{ el.1 }}</td>
              </tr>
            </tbody>
          </table>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-danger float-end" name="Delete">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}